.texte {
    text-align: justify;
}

.image-blog {
    max-width: 98%;
} 

.date {
    text-align: end;
}

.card-text {
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 11vh;
    margin: 1vh auto;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fond_photo {
    background-color: #565557;
    height: 225px;
    width: auto;
}

.fond_photo img {
   width:auto;
   height:auto;
   /* align-content: space-around;
   align-content: center; */
   margin-left: auto;
   margin-right: auto;
}

.mb-0 {
    padding: 20px 20px 0 20px;
}

.mb-1 {
    padding: 0px 20px 0 20px;
}

.container-nav{
	margin-top: 20px;
}

.container-nav li a{
	font-family: "Source Code Pro", monospace;
    color: black;
	font-size: 1.3em;
	font-weight: bold;
}

.fa { 
	padding: 5px;
	font-size: 22px;
	height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 50%; 
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #cd486b;
  color: white;
}