.container-nav{
	margin-top: 20px;
}

.container-nav li a{
	font-family: "Source Code Pro", monospace;
    color: black;
	font-size: 1.3em;
	font-weight: bold;
}

.fa { 
	padding: 5px;
	font-size: 22px;
	height: 30px;
	width: 30px;
	text-align: center;
	border-radius: 50%; 
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: #cd486b;
  color: white;
}